aiosqlite==0.21.0
amqp==5.3.1
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
attrs==23.2.0
autobahn==23.6.2
Automat==24.8.1
bidict==0.23.1
billiard==4.2.1
blinker==1.9.0
boolean.py==5.0
Brotli==1.1.0
CacheControl==0.14.3
celery==5.5.2
certifi==2025.4.26
cffi==1.17.1
channels==4.1.0
charset-normalizer==3.4.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
ConfigArgParse==1.7.1
constantly==23.10.4
cryptography==44.0.1
cyclonedx-python-lib==9.1.0
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
Django==5.2.5
django-axes==8.0.0
django-environ==0.11.2
django-prometheus==2.3.1
django-ratelimit==4.1.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
drf-nested-routers==0.93.5
drf-yasg==1.21.7
filelock==3.18.0
Flask==3.1.1
flask-cors==6.0.0
Flask-Login==0.6.3
gevent==25.5.1
geventhttpclient==2.3.3
greenlet==3.2.2
groq==0.25.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
hyperlink==21.0.0
idna==3.7
incremental==24.7.2
inflection==0.5.1
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
kombu==5.5.3
license-expression==30.4.4
locust==2.37.9
locust-cloud==1.23.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
model-bakery==1.17.0
msgpack==1.1.0
outcome==1.3.0.post0
packageurl-python==0.17.5
packaging==23.2
pillow==11.1.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
platformdirs==4.3.8
pluggy==1.5.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
psutil==7.0.0
psycopg2-binary==2.9.10
py-serializable==2.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.11.5
pydantic_core==2.33.2
Pygments==2.19.2
PyJWT==2.8.0
pyOpenSSL==25.1.0
pyparsing==3.2.3
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-django==4.8.0
pytest-tornasync==0.6.0.post2
pytest-trio==0.8.0
pytest-twisted==1.14.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-engineio==4.12.2
python-socketio==5.13.0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.4.0
redis==6.1.0
requests==2.32.4
rich==14.1.0
service-identity==24.1.0
setuptools==78.1.1
simple-websocket==1.1.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.0
toml==0.10.2
tornado==6.5
trio==0.30.0
Twisted==24.11.0
txaio==23.1.1
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.5.0
uvicorn==0.34.0
uvloop==0.21.0
vine==5.1.0
watchfiles==1.0.5
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wsproto==1.2.0
y-py==0.6.2
ypy==0.2
ypy-websocket==0.12.4
zope.event==5.0
zope.interface==7.2
